@font-face {
  font-family: PPEditorialNew-Ultrabold;
  src: url(/fonts/PPEditorialNew-Ultrabold.otf);
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

/* base */
::selection {
  background: transparent;
}

:root body,
:root body.v1 {
  --main-bg-color: #19535f;
  --main-fg-color: #f8942f;
  --main-bg-color: color(display-p3 0.097 0.307 0.365);
  --main-fg-color: color(display-p3 0.985 0.642 0.296);
}

:root body.v2 {
  --main-bg-color: #2c3545;
  --main-fg-color: #dc5a41;
  --main-bg-color: color(display-p3 0.01 0.083 0.24);
  --main-fg-color: color(display-p3 0.965 0.465 0.352);
}
:root body.v3 {
  --main-bg-color: #b91343;
  --main-fg-color: #a8806b;
  --main-bg-color: color(display-p3 0.675 0.054 0.189);
  --main-fg-color: color(display-p3 0.98 0.769 0.637);
}

:root body.v4 {
  --main-bg-color: #457963;
  --main-fg-color: #c28f9e;
  --main-bg-color: color(display-p3 0.159 0.46 0.305);
  --main-fg-color: color(display-p3 0.98 0.725 0.806);
}

:root body.v5 {
  --main-bg-color: #ee7267;
  --main-fg-color: #fbd8df;
  --main-bg-color: color(display-p3 0.935 0.417 0.351);
  --main-fg-color: color(display-p3 0.99 0.842 0.873);
}

:root body.v6 {
  --main-bg-color: #ee7267;
  --main-fg-color: #fbd8df;
  --main-bg-color: color(display-p3 0.935 0.417 0.351);
  --main-fg-color: color(display-p3 0.99 0.842 0.873);
}

:root body.v7 {
  --main-bg-color: #562151;
  --main-fg-color: #d7713b;
  --main-bg-color: color(display-p3 0.32 0.008 0.313);
  --main-fg-color: color(display-p3 0.795 0.301 0.024);
}

svg,
.icon {
  fill: var(--main-fg-color);
}

html,
body,
#root {
  background: var(--main-bg-color);
  color: var(--main-fg-color);
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: crosshair;
}

.grid {
  display: grid;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  animation-name: fade;
  animation-duration: 2s;
}

header {
  color: var(--main-fg-color);
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
}

header div {
  width: 100%;
  padding: 4rem 0 0 0;
  text-align: center;
}

header .nav {
  color: var(--main-fg-color);
  padding: 1rem 0 2rem 0;
}

.content {
  display: grid;
  overflow: hidden;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

footer {
  width: 100%;
  position: absolute;
  display: flex;
  font-size: 15px;
  bottom: 0;
  justify-content: center;
}

footer div {
  padding: 4rem 0;
  text-align: center;
}

header a,
footer a {
  width: 100%;
  margin: 0 0.25rem;
  text-decoration: none;
  color: var(--main-fg-color);
}

header a:hover,
footer a:hover {
  color: var(--main-primairy-color);
}

h1 {
  font-family: PPEditorialNew-Ultrabold;
  color: var(--main-theme-color);
  text-align: center;
  font-style: italic;
  font-size: 20vw;
  line-height: 0.9;
  letter-spacing: -0.04em;
  text-align: center;
}

h1 span {
  font-style: italic;
}

@keyframes fade {
  0% {
    opacity: 0;
    display: none;
  }
  10% {
    display: block;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  header div {
    padding: 4em;
    flex: 1;
    text-align: left;
  }

  header .nav {
    padding: 4em;
    text-align: right;
  }

  h1 {
    font-size: 20vw;
    line-height: 0.8;
  }

  footer {
    justify-content: flex-end;
  }

  footer div {
    padding: 4rem;
    text-align: right;
  }

  footer a {
    margin: 0 0.5rem;
  }
}

@media (min-width: 960px) {
  h1 {
    font-size: 15vw;
  }
}
